body{
    text-align: center;
    padding-top: 800px;



}
#name{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    color: white;
}
#img1{
    width: 250px;
    border-radius: 50%;
    height: 200px;
    padding-top: 50px;

}
#section1{
    position:absolute;
    overflow:hidden;
    height: 800px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background:linear-gradient(rgb(51, 238, 238),rgb(36, 55, 223) 100%);
    opacity:1;
    height: 100%;
}
#text{
    position:relative;
    display: table-cell;
    vertical-align: middle;
    text-align:center;
}
p{
    max-width: 450px;
    font-size: 40px;
    margin: 25px;;
}